# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vscode
build/
dist
*egg-info
__pycache__

tmp.txt
*.npy
tmp.*
*.rs
*.csv
*build
*.tmp
*release*
*.sass
*.sqlite
*.nsys-rep
*.ncu-rep
